
<div class="footer">
  <ul class="center">
    <li class="inline vote-value">1</li>
    <li class="inline vote-value">2</li>
    <li class="inline vote-value">3</li>
    <li class="inline vote-value">5</li>
    <li class="inline vote-value">8</li>
    <li class="inline vote-value">13</li>
    <li class="inline vote-value">21</li>
    <li class="inline vote-value">34</li>
    <li class="inline vote-value">55</li>
    <li class="inline vote-value">89</li>
    <li class="inline vote-value">?</li>
  </ul>

  <div id="final-tally"></div>

  <div class="credits">&copy; Cafe Con Leche. Voters by Jo Burrell. Icons from the Noun Project (Mystery Box by Creaticca Creative Agency; chat, spy, and paint by ibrandify)</div>
</div>
